# Linkstation firmware
ls_series-*.zip
hddrootfs.img
hddrootfs.buffalo.updated

# Unzipped firmware
resources/ls_series-*

# Sources
src/*
old-src/*

#Temporary folder
tmp-compile/*

#Archives
resources/archive/*

