# Linkstation firmware (too big)
ls_series-*.zip
hddrootfs.img
hddrootfs.buffalo.updated

# Unzipped firmware (too big)
resources/ls_series-*

# Plex package (too big)
firmwares/PlexMediaServer-*

# Generated sources, temporary folder
src/*
old-src/*
tmp-compile/*
